@page
@model ConsultaModel
@{
    ViewData["Title"] = "Pagina de Consultas Prueba";
}
<h1>@ViewData["Title"]</h1>


    <form method="post" asp-page="Consulta">
        <input type="text" name="txtNit" placeholder="Nro de Nit"/>
        <input type="submit" value="Razon Social" asp-page-handler="RazonSocial" />
        <input type="submit" value="Dirección" asp-page-handler="Direccion" />
        <input type="submit" value="Teléfono" asp-page-handler="Telefono" />
    </form>
    <br />
    @Model.Msg
    <br />
    <br />
    Nro de NIT: 
    @Model.Mensaje
