﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al SIN</h1>
    <p>Página de Prueba CICD</p>
    <p>Otra prueba deploy en nuevo cluster net</p>
</div>
